<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Home</title>
</head>
<body>
    <nav>
        <div class="innerbox">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">About Us</a></li>
            </ul>
    
            <a href="/api/user/login" id="btn">Login</a>
        </div>
    </nav>

    <main>
        <div class="filter">
            <h1>API Practice</h1>
            <a href="/api/user/register">Sign up</a>
        </div>
    </main>
    
    <script src="app.js"></script>
</body>
</html>
